@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body
{
  margin: 0;
  font-family: 'Open Sans';
  font-size: 14px;
}
.displayFlex
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.backBtn
{
  color: #888;
  font-size: 15px;
  text-align: left;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.resendOtpText {
  padding-top: 10px;
}
.backBtn i
{
  padding-right: 5px;
  font-size: 20px;
}
.backBtn a {
  color: #888 !important;
  text-decoration: none;
}
.backBtn a:hover {
  text-decoration: none;
}
.go_back {
  cursor: pointer;
  position: absolute;
  margin-left: 20px;
  color: #FFCA27;
  &:hover {
    color: #EAB41C;
  }
}
.hide
{
  display: none !important;
}
.textDecoration
{
  text-decoration: none;
}
.textDecoration:hover
{
  text-decoration: underline;
}
.countryInput
{
  width: 28% !important;
  display: inline-block;
  margin-right: 2%;
  position: relative;
}
.countryInput input
{
  width: calc(100% - 10px) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.countryInput i
{
  position: absolute;
  bottom: 15px;
  right: 7px;
  font-size: 18px;
}

.mobileInput
{
  width: 70% !important;
  display: inline-block;
}
.mobileInput input
{
  width: calc(100% - 10px) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.DarkLandingPageWrapper
{
  background-color: #292b2f;
  color: #fff;
}
.LightLandingPageWrapper
{
  background-color: #fafcfd;
  color: #333;
}
.landingPageInnerWidth
{
  width: 440px;
  text-align: center;
}
.DarkLandingPageInnerWrapper
{
  background-color: #36393f;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.LightLandingPageInnerWrapper
{
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.landingPageWrapper
{
  width: calc(100vw - 80px);
  min-height: calc(100vh - 80px);
  padding: 40px;
}
.landingPageInnerWrapper
{
  border-radius: 10px;
  padding: 20px 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.headerDescription
{
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 24px;
  color: #e9e9e9;
  text-transform: uppercase;
  padding: 10px 0;
}
.darkHeaderDescription
{
  color: #e9e9e9;
}
.lightHeaderDescription
{
  color: #000;
}
.lightHeaderDescription, .darkHeaderDescription
{
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 0;
}
.addPaddTop
{
  padding-top: 20px !important;
}
.dividerLine
{
  background-color: #888;
  display: block;
  height: 1px;
  width: 90px;
}
.descriptionText
{
  color: #888888;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 20px;
}
.smallDescriptionText
{
  color: #888888;
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 18px;
}
.signUpWrapper
{
  width: 380px;
  margin: 0 auto;
}
.LightFormGroupWrapper, .DarkFormGroupWrapper
{
  width: 380px;
  padding-top: 20px;
}
.LightFormGroupWrapper .formInput, .DarkFormGroupWrapper .formInput
{
  padding-bottom: 20px;
}
.DarkFormGroupWrapper .formInput input
{
  width: 100% !important;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #42464d !important;
  padding: 0;
  border: 0;
  padding-left: 10px;
  font-size: 14px;
  background-color: #42464d !important;
  color: #fff !important;
}
.formLabel
{
  text-align: left;
  padding-bottom: 10px;
  display: block;
  color: #888888;
  font-size: 14px;
  font-weight: 600;
}
.DarkFormGroupWrapper .formInput input:focus
{
  border: 1px solid #21d268 !important;
  outline: none;
}
.LightFormGroupWrapper .formInput input
{
  width: 100% !important;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  height: 44px;
  border-radius: 5px;
  border: 2px solid #ccc;
  border: 2px solid #F5F9FA !important;
  padding: 0;
  padding-left: 10px;
  font-size: 14px;
  background-color: #F5F9FA;
  /* background-color: #555 !important; */
  /* color: #fff !important; */
}
.LightFormGroupWrapper .formInput input:focus
{
  border: 2px solid #00D463 !important;
  outline: none;
}
.linkDescription
{
  color: #00D463;
}
.linkDescription a
{
  color: #00D463;
  text-decoration: none;
}
.linkDescription a:hover
{
  text-decoration: underline;
}
.forgotPassword
{
  text-align: left;
  padding: 15px 0;
  padding-top: 0;
  cursor: pointer;
}
.commonBtn
{
  text-align: center;
}
.signInbtn a button
{
  background-color: #00D463;
  width: 100%;
  height: 46px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #00D463;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
}
.signInbtn a button:hover
{
  background-color: #10af50;
}
.signInbtn a button:focus
{
  outline:  none;
}
.darkCommonBtn a button
{
  color: #fff;
  background-color: #42464d;
  border: 1.5px solid #42464d;
}
.darkCommonBtn a button:hover
{
  background-color: #3B3F44;
}
.lightCommonBtn a button
{
  color: #474747;
  background-color: #fff;
  border: 1.5px solid #00D463;
}
.lightCommonBtn a button:hover
{
  background-color: #f8f8f8;
}
.commonBtn a button
{
  height: 54px;
  width: 380px;
  text-align: left;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.commonBtn a
{
  text-decoration: none;
}
.btnIconWidth
{
  width: 64px;
  text-align: center;
}
.commonBtn a button span img
{
}
.commonBtn a button span i
{
  padding: 0 20px;
  font-size: 20px;
}
.commonBtn button:focus
{
  outline: none;
}
.socialLoginWrapper
{
  padding-top: 20px;
}
.socialLoginIconWrapper
{
  margin: 0 auto;
  padding-top: 20px;
}
.socialLoginIcon
{
  display: inline-block;
  width: 18%;
  text-align: center;
}
.socialLoginIcon a img
{
  width: 40px;
}
.socialLoginIcon a img:hover
{
  opacity: 0.6;
}
.LightSocialLoginIcon a i
{
  color:  #333;
}
.DarkSocialLoginIcon a i
{
  color:  #333;
}
.socialLoginIcon a i
{
  font-size: 30px;
  cursor: pointer;

}
.socialLoginIcon a i:hover
{
  color: #aaa;
}
.errorText {
  color: red;
  padding-top: 10px;
}
.viewcontainer {
  height: 70vh;
  width: 100vw;
  display: table;
}
.centerContent{
  display: table-cell;
  vertical-align: middle;
}
.message {
  padding: 50px 20%;
}
.message h1 {
  font-size: 54px;
  font-weight: bold;
}
.message p {
  margin-left: 15px;
}
.message p > a {
  font-weight: bold;
}
@media (max-width: 767px)
{
  .headerDescription
  {
    padding: 0 0;
  }
  .countryInput
  {
    width: 30% !important;
    display: inline-block;
    margin-right: 2%;
  }
  .mobileInput
  {
    width: 68% !important;
    display: inline-block;
  }
  .landingPageInnerWidth
  {
    /* width: 280px; */
    width: 100%;
  }
  .LightFormGroupWrapper, .DarkFormGroupWrapper
  {
    /* width: 260px; */
    width: 100%;
  }
  .landingPageWrapper
  {
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    height: auto;
  }
  .signUpWrapper
  {
    /* width: 260px; */
    width: 90%;
  }
  .btnIconWidth
  {
    width: 50px;
  }
  .commonBtn a button
  {
    /* max-width: 254px;
    min-width: 254px; */
    width: 100%;
    font-size: 15px;
  }
  .commonBtn a button span i
  {
    padding: 0 10px;
  }
  .socialLoginIcon
  {
    width: 25%;
  }
}
